$dark: #333333;
$grey: #888888;

$alerts: #616161;
$alerts-border: #ffffff;

$fissures: #ebc35a;
$fissures-border: #ffd86e;

$vendors: #1b515e;
$vendors-border: #24737d;

$invasions: #b36b00;
$invasions-border: #ff9800;

$calendar: #627a6d;
$calendar-border: #839d8f;

$grineer: #993333;
$corpus: #336699;
$infested: #7cb342;
