@if (fissures) {
  <div class="warframe-grid" app-collapsible #c="collapsible">
    <div class="section-header fissures-header" (click)="c.toggle()">
      @if (c.isCollapsed) {
        <mat-icon>expand_more</mat-icon>
      } @else {
        <mat-icon fontSet="material-symbols-outlined">genetics</mat-icon>
      }
      <span>{{ title }}</span>
      <span class="count-badge">{{ fissures.length }}</span>
    </div>
    <div class="collapsible-content" [class.is-collapsed]="c.isCollapsed">
      <div class="card-container">
        @for (group of fissures | groupByTier; track group.name; let isLast = $last) {
          <mat-card class="warframe-card" [class.last-card]="isLast">
            <div class="tier-row">
              <div class="tier-sidebar">
                <span class="tier-name">
                  <b>{{ group.name }}</b>
                </span>
              </div>

              <div class="fissure-info-stack">
                @for (fissure of group.items; track fissure.id) {
                  <div class="fissure-info">
                    <mat-card-header>
                      <mat-card-title class="warframe-title"
                        ><b>{{ fissure.missionType }} - {{ fissure.enemy }}</b> @ {{ fissure.node }}
                      </mat-card-title>
                    </mat-card-header>

                    <mat-card-content class="warframe-content">
                      <div class="warframe-footer">
                        <span class="countdown">{{ fissure.expiry! | countdown | async }}</span>
                      </div>
                    </mat-card-content>
                  </div>
                }
              </div>
            </div>
          </mat-card>
        }
      </div>
    </div>
  </div>
} @else {
  <app-skeleton headerClass="fissures-header" [usesFontSet]="true" iconName="genetics" title="vendors" [hasCount]="true" />
}
