$underline-color: #9c9d9c;
$day-header-cell: #dfdfde;
$square-border: #333333;
$square-background: #777776;
$square-background2: #898888;

.warframe-grid {
  position: relative;
}

.weekday-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 10px;

  .weekday-header-cell {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $day-header-cell;
    height: 1.3rem;

    box-shadow: (inset 1px 1px 0px #ffffff, inset -1px -1.5px 0px #808080);

    .weekday-text {
      color: #333;
      font-family: "Tahoma", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 1px;
      user-select: none;
    }
  }
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 5px;

  .calendar-square {
    aspect-ratio: 1 / 1;
    position: relative;
    cursor: pointer;
    background-color: $square-background;
    user-select: none;

    &:hover {
      background: $square-background2;
      border: 1px solid $square-border;
      transform: scale(1.05);
    }

    .day-number {
      position: absolute;
      top: 2px;
      right: 4px;
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 0.75rem;
      letter-spacing: 0.5px;
    }

    .reward-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.75rem;
      margin-top: 1.6rem;
    }
  }
}

.season-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1rem;
  font-weight: 700;
  background-color: #333333;
  margin: 10px 16px;
  box-shadow: (inset 1px 1px 0px #808080, inset -1px -1px 0px #808080);

  .current-season {
    font-family: "Michroma", sans-serif;
    text-transform: uppercase;
  }

  .header-sub-icons {
    font-size: 1rem;
    letter-spacing: 4px;
    margin-top: 0.5rem;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .next-season {
    font-family: "Tahoma", sans-serif;
    font-weight: normal;
    font-size: 1rem;
  }

  .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;

    .month-row {
      display: flex;
      align-items: center;
      gap: 6px;

      .current-month {
        color: white;
        font-size: 1rem;
        font-weight: normal;
        letter-spacing: 1px;
      }

      .dash-icons {
        display: flex;
        align-items: center;

        .month-btn {
          font-size: 1.2rem;
          line-height: 1.5;
          background: none;
          border: none;
          cursor: pointer;
          width: 35px;

          &:hover {
            transform: translateY(-5px);
          }
          &.is-active {
            filter: grayscale(1);
          }
        }

        .dash {
          display: inline-block;
          width: 10px;
          height: 3px;
          background-color: white;
          border-radius: 0;
        }
      }
    }
  }
}

.card-container {
  position: relative;

  .modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    border-radius: 0 0 4px 4px;

    .modal-card {
      width: 50%;
      background: #0a0a0a;
      border: 1px solid #444;
      width: 90%;
      max-width: 17.5rem;
      padding: 12px;
      border-radius: 0; // Hard edges
      box-shadow: (
        inset 0 0 10px rgba(255, 255, 255, 0.05),
        0 5px 15px rgba(0, 0, 0, 0.9)
      );

      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .close-btn {
          background: none;
          border: none;
          color: #666;
          cursor: pointer;
          font-family: inherit;
          font-size: 1.1rem;
          padding: 0;
          margin-left: auto;

          &:hover {
            color: #ff4d4d;
          }
        }
      }

      .event-list {
        .event-item {
          padding: 8px 0;
          border-bottom: 1px dashed #00aa00;

          &:last-child {
            border-bottom: none;
          }

          .type-tag {
            font-family: "Courier New", monospace;
            font-size: 0.95rem;
            color: #00ff00;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            margin-bottom: 2px;

            &::before {
              content: "[";
            }

            &::after {
              content: "]";
            }
          }

          .event-content {
            font-family: "Courier New", monospace;
            font-size: 0.9rem;
            text-transform: uppercase;

            .event-title {
              font-weight: bold;
              color: #00cc00;

              &::before {
                content: "> ";
              }
            }

            .event-description {
              font-size: 0.85rem;
              color: #00bb00;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .day-number {
    font-size: 0.65rem !important;
  }

  .reward-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem !important;
    margin-top: 1.3rem !important;
  }
}
