@if (alerts$ | async; as alerts) {
  <div class="warframe-grid" app-collapsible #c="collapsible">
    <div class="section-header alerts-header" (click)="c.toggle()">
      @if (c.isCollapsed) {
        <mat-icon>expand_more</mat-icon>
      } @else {
        <mat-icon>warning</mat-icon>
      }
      <span>ALERTS</span>
      <span class="count-badge">{{ alerts.length }}</span>
    </div>
    @if (alerts.length > 0) {
      <div class="collapsible-content" [class.is-collapsed]="c.isCollapsed">
        <div class="card-container">
          @for (alert of alerts; track alert.id; let isLast = $last) {
            <mat-card class="warframe-card" [class.last-card]="isLast">
              <mat-card-header>
                <mat-card-title class="warframe-title">
                  <b>{{ alert.mission.type }} - {{ alert.mission.faction }}</b> ({{ alert.mission.minEnemyLevel }} -
                  {{ alert.mission.maxEnemyLevel }}) @
                  {{ alert.mission.node }}
                </mat-card-title>
              </mat-card-header>

              <mat-card-content class="warframe-content">
                <p class="credits">{{ alert.mission.reward!.credits | number }} Credits</p>

                @for (reward of alert.mission.reward!.items!; track $index) {
                  <p class="reward">{{ reward }}</p>
                }
                @for (reward of alert.mission.reward!.countedItems!; track $index) {
                  <p class="reward">{{ reward.key }}</p>
                }

                <div class="warframe-footer">
                  <span class="countdown">{{ alert.expiry! | countdown | async }}</span>
                </div>
              </mat-card-content>
            </mat-card>
          }
        </div>
      </div>
    } @else {
      <div class="collapsible-content" [class.is-collapsed]="c.isCollapsed">
        <div class="card-container">
          <mat-card class="warframe-card">
            <mat-card-header>
              <mat-card-title class="warframe-title">No active alerts detected in the Origin System</mat-card-title>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    }
  </div>
} @else {
  <app-skeleton headerClass="alerts-header" [usesFontSet]="false" iconName="warning" title="alerts" [hasCount]="true" />
}
