<div class="dashboard-wrapper">
  @for (colIdx of columnIndices; track colIdx) {
    <div class="silo">
      @for (id of getColWidgets(colIdx); track id) {
        @switch (id) {
          @case ("alerts") {
            <app-alerts />
          }
          @case ("events") {
            <app-events />
          }
          @case ("vendors") {
            <app-vendors />
          }
          @case ("calendar") {
            <app-calendar-1999 />
          }
          @case ("archimedeas") {
            <app-archimedeas />
          }
          @case ("invasions") {
            <app-invasions />
          }
          @case ("fissures") {
            <app-fissures />
          }

          <!-- TODO: Section with weekly reset stuff (Iron Wake Shop, Yonta Kuva, Bird 3 Archon Shard) -->
        }
      }
    </div>
  }
</div>
